/* Global, utilties and reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-light:#f9785b;
  --bg-light: #e5e5e5;
  --item-light: #eee;
  --bg-feature-light: #fff;
  --text-color-light: #333;
  --primary-dark: #FF866B;
  --bg-dark: #333;
  --item-dark: #111;
  --bg-feature-dark: #000;
  --text-color-light: #f7f7f7;
  --headline-kern: -2px;
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  background-color: #e5e5e5;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100vw;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p {
  font-family: "Inter", sans-serif;
}

p,
a {
  font-size: 1rem;
}

a {
  color: #333;
  font-weight: 600;
}

section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 2rem;
}

.btn {
  background-color: #f9785b;
  padding: 0.8rem;
  color: #333;
  width: 140px;
  text-align: center;
  margin: 1rem 0;
  border-radius: 0.5rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #f9785b;
  opacity: 0.9;
  cursor: pointer;
}

.btn:focus {
  outline: 2px solid #333;
  outline-offset: 2px;
}

button:focus {
  outline: 2px solid #333;
  outline-offset: 8px;
}

button {
  border: 0;
  outline: 0;
  font-family: "Inter", sans-serif;
  color: #333;
  font-size: 1rem;
  font-weight: bold;
}

/* Header  */
header {
  width: 100%;

}

.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 100%;
  animation: fadeIn 1s ease-in-out;
  background-color: #e5e5e5;
  margin-top: 0;
  z-index: 3;
  transition: 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hide-nav {
  opacity: 0;
  transition: 0.5s ease-out;
}

.nav-ul {
  display: flex;
  list-style-type: none;
}

.nav-logo {
  font-weight: 800;
}

.nav-item {
  margin: 0 0.75rem;
}

/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #222;
  color: #e5e5e5;
}

.footer-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  background-color: #222;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.copyr {
  display: flex;
  flex-direction: column-reverse;
margin-top: 6rem;
}

.footer-social svg {
  margin-left: 1rem;
}

.footer-num {
  font-weight: normal;
  color: #e5e5e5;
}

.footer-h6 {
  font-size: 2rem;
}

footer li {
  list-style: none;
  margin: 0.25rem 0;
}

footer p {
  margin: 0 auto;
  padding: 0.5rem;
}

.directions {
  font-size: 1rem;
  font-style: bold;
}
@media (max-width:540px) {
  .nav-link-mobile {
    display: none;
  }
}

#kasia-navbar {
  width: 200px;
}